<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Inf_281.Properties.Settings.Personajes_HistoricosConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Personajes Historicos.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Proyecto_Inf_281.Properties.Settings.Personajes_HistoricosConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Documents and Settings\Ricardo\Escritorio\Personajes Historicos.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>